@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slow-zoom {
    animation: slow-zoom 20s linear infinite alternate;
  }

  @keyframes slow-zoom {
    0% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1.15);
    }
  }
}

html {
  scroll-behavior: smooth;
}
